body {
  height: 100%;
  margin: 0px;
  font-family: Sans-Serif;
}

.responsive-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.responsive-row > * {
  flex: 1 0 0;
  width: 75%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .responsive-row {
    flex-direction: column;
  }

  .responsive-row > * {
    flex: 1 0 auto;
  }
}

nav {
  background-color: black;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: grey;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-indent: -1em;
}

section#home {
  background-color: black;
  color: white;
}

section#productiondetails {
  background-color: #f12325;
}

section#pastproductions {
  background-color: #e7a537;
}

footer {
  background-color: black;
}

.button {
  padding: 10px;
  /*width: 20%;*/
  margin: 3% auto;
  color: white;
  background-color: blue;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: black;
  background-color: white;
}

.nobr {
  white-space: nowrap;
}
